* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(5, 5, 66);
}

.header {
  color: white;
  font-size: 30px;
  font-family: fantasy;
  margin-bottom: 60px;
}

.footer {
  margin-top: 190px;
  color: white;
}

.main {
  display: flex;
  color: white;
}

.active > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.confirmed > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.deaths > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.deltaconfirmed > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.deltadeaths > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.deltarecovered > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.time > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.recovered > h1 {
  background-color: rgb(48, 22, 71);
  height: 200px;
  transition: 2s ease;
}

.active > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.confirmed > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.deaths > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.deltaconfirmed > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.deltadeaths > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.deltarecovered > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.time > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}

.recovered > h1:hover {
  transition: 2s ease;
  background-color: rgb(54, 3, 3);
}
